.grid-cards__like {
  background-image: url('./like.svg');
  color: #000;
  max-width: 20.76px;
  width: 100%;
  min-height: 18px;
  margin: auto;
  transition: .3s;
  cursor: pointer;
}

.grid-cards__like:hover {
  opacity: .6;
}